body {
    background:url(http://www.test.to2ko.ru/upload_dir/e7279340_e667.jpg) fixed no-repeat center center;
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif;
    }
    fieldset{
    width:600px;
    height:600px;
    margin:5px;
    margin-top:2px;
    background-color:#87CEFA;
    box-shadow:0 0 10px rgba(0,0,0,0.5);
}
input{
    margin:7px;
}
legend
{
   color:blue;
}